<!-- todo: remove whole block -->
<div ba-panel>
  <h4 style="margin-bottom:15px; margin-top: 15px; text-align: center"> All transactions recorded on the blockchain by blocked + loaded.</h4>
  <section id="cd-timeline" class="cd-container cssanimations" ng-controller="TimelineCtrl">
    <div class="cd-timeline-block">
      <div class="cd-timeline-img">
        <div class="kameleon-icon with-round-bg danger"><img ng-src="{{::( 'Laptop-Signal' | kameleonImg )}}"></div>
      </div>

      <div class="cd-timeline-content primary">
        <h5>Oct. 22, 2018</h5>

        <p>88a2a8d3-f1d4-4d4e-9a08</p>
        <span class="cd-date">11:07AM</span>
      </div>
    </div>
    <div class="cd-timeline-block">
      <div class="cd-timeline-img">
        <div class="kameleon-icon with-round-bg danger"><img ng-src="{{::( 'Laptop-Signal' | kameleonImg )}}"></div>
      </div>

      <div class="cd-timeline-content primary">
        <h5>Aug. 1, 2018</h5>

        <p>aa360bb9-aa33-42ed-8523</p>
        <span class="cd-date">1:45 AM</span>
      </div>
    </div>
    <div class="cd-timeline-block">
      <div class="cd-timeline-img">
        <div class="kameleon-icon with-round-bg danger"><img ng-src="{{::( 'Laptop-Signal' | kameleonImg )}}"></div>
      </div>

      <div class="cd-timeline-content primary">
        <h5>April 8, 2018</h5>

        <p>ece20742-fc15-43b7-9e09-a6</p>
        <span class="cd-date">12:11 PM</span>
      </div>
    </div>
    <div class="cd-timeline-block">
      <div class="cd-timeline-img">
        <div class="kameleon-icon with-round-bg danger"><img ng-src="{{::( 'Laptop-Signal' | kameleonImg )}}"></div>
      </div>

      <div class="cd-timeline-content primary">
        <h5>Jan. 27, 2018</h5>

        <p>efa0d5da-301e-42fa-b9e1</p>
        <span class="cd-date">3:00 PM</span>
      </div>
    </div>
    <div class="cd-timeline-block">
      <div class="cd-timeline-img">
        <div class="kameleon-icon with-round-bg danger"><img ng-src="{{::( 'Laptop-Signal' | kameleonImg )}}"></div>
      </div>

      <div class="cd-timeline-content primary">
        <h5>Nov. 25, 2017</h5>

        <p>299bca1b-bbc3-ff94-4a16-</p>
        <span class="cd-date">5:48 PM</span>
      </div>
    </div>
        <div class="cd-timeline-block">
      <div class="cd-timeline-img">
        <div class="kameleon-icon with-round-bg danger"><img ng-src="{{::( 'Laptop-Signal' | kameleonImg )}}"></div>
      </div>

      <div class="cd-timeline-content primary">
        <h5>Oct. 22, 2017</h5>

        <p>88a2a8d3-f1d4-4d4e-9a08</p>
        <span class="cd-date">11:07AM</span>
      </div>
    </div>
    <div class="cd-timeline-block">
      <div class="cd-timeline-img">
        <div class="kameleon-icon with-round-bg danger"><img ng-src="{{::( 'Laptop-Signal' | kameleonImg )}}"></div>
      </div>

      <div class="cd-timeline-content primary">
        <h5>Oct. 13, 2017</h5>

        <p>aa360bb9-aa33-42ed-8523</p>
        <span class="cd-date">1:45 AM</span>
      </div>
    </div>
  </section>
</div>