<div ba-panel ba-panel-class="profile-page">
  <div class="panel-content">
    <div class="progress-info" style="margin-top:20px; margin-bottom: 2px">Your profile is 75% Complete</div>
    <div class="progress" style="margin-top:5px;">
      <div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar"
           aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
      </div>
    </div>

    <h3 class="with-line">General Information</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <div class="col-sm-9">
            <div class="userpic">
              <div class="userpic-wrapper">
                <img src="./assets/img/app/profile/Kimia.png" ng-click="uploadPicture()">
              </div>
              <i class="ion-ios-close-outline" ng-click="removePicture()" ng-if="!noPicture"></i>
              <a href class="change-userpic" ng-click="uploadPicture()">Change Profile Picture</a>
              <input type="file" ng-show="false" id="uploadFile" ng-file-select="onFileSelect($files)">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6"></div>
    </div>

    <h4 class="with-line">Name</h4>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group row clearfix">
          <label for="inputFirstName" class="col-sm-3 control-label">First</label>

          <div class="col-sm-8">
            <input disabled="disabled" type="text" class="form-control" id="inputFirstName" placeholder="" value="Kimia">
          </div>
        </div>

        <div class="form-group row clearfix">
          <label for="inputLastName" class="col-sm-3 control-label">Last</label>

          <div class="col-sm-8">
            <input disabled="disabled" type="text" class="form-control" id="inputLastName" placeholder="" value="Zargari">
          </div>
        </div>

        <h4 class="with-line">Account Information</h4>
        <div class="form-group row clearfix">
          <label for="inputFirstName" class="col-sm-3 control-label">Metamask</label>

          <div class="col-sm-12">
            <input disabled="disabled" type="text" class="form-control" id="inputFirstName" placeholder="" value="0xCf10F757dE2d8f9E4963ec763FaD71a14">
          </div>
        </div>
      </div>  
    </div>

    <h3 class="with-line">Personal Information</h3>
    <div style="margin-bottom: 1.5em"></div>

    <h4 class="with-line">Birthday</h4>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Month of Birth</label>

          <div class="col-sm-3">
            <select class="form-control" selectpicker>
              <option>January</option>
              <option>February</option>
              <option>March</option>
              <option>April</option>
              <option>May</option>
              <option>June</option>
              <option>July</option>
              <option>August</option>
              <option>September</option>
              <option>October</option>
              <option>November</option>
              <option>December</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-6"></div>
    </div>


    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Day of Birth</label>
          <div class="col-sm-3">
            <select class="form-control" selectpicker>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
              <option>21</option>
              <option>22</option>
              <option>23</option>
              <option>24</option>
              <option>25</option>
              <option>26</option>
              <option>27</option>
              <option>28</option>
              <option>29</option>
              <option>30</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-6"></div>
    </div>


    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Year of Birth</label>

          <div class="col-sm-3">
            <select class="form-control" placeholder="Year"selectpicker>
              <option>1950</option>
              <option>1951</option>
              <option>1952</option>
              <option>1953</option>
              <option>1954</option>
              <option>1955</option>
              <option>1956</option>
              <option>1957</option>
              <option>1958</option>
              <option>1959</option>

              <option>1960</option>
              <option>1961</option>
              <option>1962</option>
              <option>1963</option>
              <option>1964</option>
              <option>1965</option>
              <option>1966</option>
              <option>1967</option>
              <option>1968</option>
              <option>1969</option>

              <option>1970</option>
              <option>1971</option>
              <option>1972</option>
              <option>1973</option>
              <option>1974</option>
              <option>1975</option>
              <option>1976</option>
              <option>1977</option>
              <option>1978</option>
              <option>1979</option>

              <option>1980</option>
              <option>1981</option>
              <option>1982</option>
              <option>1983</option>
              <option>1984</option>
              <option>1985</option>
              <option>1986</option>
              <option>1987</option>
              <option>1988</option>
              <option>1989</option>

              <option>1990</option>
              <option>1991</option>
              <option>1992</option>
              <option>1993</option>
              <option>1994</option>
              <option>1995</option>
              <option>1996</option>
              <option>1997</option>

            </select>
          </div>
        </div>
      </div>
    </div>
    
    <div style="margin-bottom: 1.5em"></div>

    <h4>Address</h4>
    <div class="row">
      <div class="col-xs-9">
        <div class="form-group row clearfix">
          <label for="inputConfirmPassword" class="col-sm-3 control-label">Address Line 1</label>

          <div class="col-sm-9">
            <input type="password" class="form-control" id="inputConfirmPassword" placeholder="">
          </div>
        </div>
      </div>
      <div class="col-xs-9">
        <div class="form-group row clearfix">
          <label for="inputConfirmPassword" class="col-sm-3 control-label">Address Line 2</label>

          <div class="col-sm-9">
            <input type="password" class="form-control" id="inputConfirmPassword" placeholder="">
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">State of Residence</label>

          <div class="col-sm-3">
            <select class="form-control" selectpicker>
              <option>Alabama</option>
              <option>Alaska</option>
              <option>Arizona</option>
              <option>Arkansas</option>
              <option>California</option>
              <option>Colorado</option>
              <option>Connecticut</option>
              <option>Delaware</option>
              <option>Florida</option>
              <option>Georgia</option>
              <option>Hawaii</option>
              <option>Idaho</option>
              <option>Illinois</option>
              <option>Indiana</option>
              <option>Iowa</option>
              <option>Kansas</option>
              <option>Kentucky</option>
              <option>Louisiana</option>
              <option>Maine</option>
              <option>Maryland</option>
              <option>Massachusetts</option>
              <option>Michigan</option>
              <option>Minnesota</option>
              <option>Mississippi</option>
              <option>Missouri</option>
              <option>Montana</option>
              <option>Nebraska</option>
              <option>Nevada</option>
              <option>New Hampshire</option>
              <option>New Jersey</option>
              <option>New Mexico</option>
              <option>New York</option>
              <option>North Carolina</option>
              <option>North Dakota</option>
              <option>Ohio</option>
              <option>Oklahoma</option>
              <option>Oregon</option>
              <option>Pennsylvania</option>
              <option>Rhode Island</option>
              <option>South Carolina</option>
              <option>South Dakota</option>
              <option>Tennessee</option>
              <option>Texas</option>
              <option>Utah</option>
              <option>Vermont</option>
              <option>Virginia</option>
              <option>Washington</option>
              <option>West Virginia</option>
              <option>Wisconsin</option>
              <option>Wyoming</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-6"></div>
    </div>


     <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Zip Code</label>

          <div class="col-sm-3">
            <input type="password" class="form-control" id="inputConfirmPassword" placeholder="">
          </div>
        </div>
      </div>
      <div class="col-md-6"></div>
    </div>


    <h4>Identification</h4>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <div class="col-xs-4">
            <select class="form-control" selectpicker>
              <option>Driver's License</option>
              <option>Social Security</option>
              <option>Government Issued ID</option>
              <option>USA Passport</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-6"></div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <div class="col-xs-4">
            <input type="password" class="form-control" id="inputConfirmPassword" placeholder="ID Number">
          </div>
        </div>
      </div>
      <div class="col-md-6"></div>
    </div>



    <h3 class="with-line">Change Password</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputPassword" class="col-sm-3 control-label">Password</label>

          <div class="col-sm-9">
            <input type="password" class="form-control" id="inputPassword" placeholder="" value="12345678">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputConfirmPassword" class="col-sm-3 control-label">Confirm Password</label>

          <div class="col-sm-9">
            <input type="password" class="form-control" id="inputConfirmPassword" placeholder="">
          </div>
        </div>
      </div>
    </div>

    <h3 class="with-line">Contact Information</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputEmail3" class="col-sm-3 control-label">Email</label>

          <div class="col-sm-9">
            <input type="email" class="form-control" id="inputEmail3" placeholder="" value="kimiaz@berkeley.com">
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="inputPhone" class="col-sm-3 control-label">Phone</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputPhone" placeholder="" value="(818) 484 - 1436">
          </div>
        </div>
      </div>
    </div>

    <h3 class="with-line">Social Profiles</h3>

    <div class="social-profiles row clearfix">
      <div class="col-md-3 col-sm-4" ng-repeat="item in socialProfiles">

        <a class="sn-link" href ng-click="showModal(item)" ng-if="!item.href">
          <i class="socicon {{ item.icon }}"></i>
          <span>{{ item.name }}</span>
        </a>

        <a class="sn-link connected" href="{{ item.href }}" target="_blank" ng-if="item.href">
          <i class="socicon {{ item.icon }}"></i>
          <span>{{ item.name }}</span>
          <em class="ion-ios-close-empty sn-link-close" ng-mousedown="unconnect(item)"></em>
        </a>
      </div>
    </div>

    <h3 class="with-line">Send Email Notifications</h3>

    <div class="notification row clearfix">
      <div class="col-sm-6">
        <div class="form-group row clearfix">
          <label class="col-xs-8">When transaction is processed </label>
          <div class="col-xs-4">
            <switch color="primary" ng-model="switches[0]"></switch>
          </div>
        </div>
        <div class="form-group row clearfix">
          <label class="col-xs-8">When transcation is declined </label>

          <div class="col-xs-4">
            <switch color="primary" ng-model="switches[5]"></switch>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary btn-with-icon save-profile">
      <i class="ion-android-checkmark-circle"></i>Update Profile
    </button>
  </div>
</div>
