<div class="side-message-navigation" ng-class="{'expanded': tabCtrl.navigationCollapsed}">
  <h4 style="margin-bottom:15px; margin-top: 15px; text-align: center">Personal transactions recorded on the blockchain by blocked + loaded.</h4>
    <div class="mail-messages-control side-message-navigation-item">
    <div class="toggle-navigation-container">
      <a href class="collapse-navigation-link ion-navicon"
         ng-click="tabCtrl.navigationCollapsed=!tabCtrl.navigationCollapsed"></a>
    </div>
  </div>
  <div class="messages">
    <table>
      <tr ng-repeat="m in listCtrl.messages track by m.id | orderBy:'-date'"
          class="side-message-navigation-item little-human shineHover {{m.tag}}">
        <td  class="photo-td" ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})"></td>
        <td  ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})">
          <div class="name-container">
            <div><span class="name">{{m.name}}</span></div>
            <div><span class="tag label label-primary {{m.tag}}">{{m.tag}}</span></div>
          </div>
        </td>
        <td  ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})">
          <div class="additional-info">
            <span class="subject"> {{m.subject}}</span>
          </div>
        </td>
        <td  ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})">
          <div class="mail-body-part">{{m.body | plainText}}</div>
        </td>
        <td class="date">
          <span>{{m.date | date : 'MMM d HH:mm'}}</span>
        </td>
      </tr>
    </table>
  </div>
</div>